@charset "UTF-8";
/* Estilos para impressora */

* {
  margin: 0;
  padding: 0;
} 
html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  line-height: 1.5em;
}

menu{
  display: none;
}

article::after{
  content: 'Este artigo foi impresso hoje';
}