@charset "UTF-8";
body{
  /* correção do posicionamento de imagens */
  width: 100vh;
  /* configurando a margem */
  margin: auto;
}
body .top {
  background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    display:inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 5px;
  }
  body .top p{
    text-align: center;
    padding-top: 100px;
  }
  body .centro {
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    display:inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 5px;

  }
  body .centro p{
    text-align: center;
    padding-top: 150px;
  }
  body .fundo {
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    display:inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 5px;
  }
  p{
    text-align: center;
    padding-top: 10px;
  }
  div#lt{
    background-position: left top;
  }
  div#ct{
    background-position: center top;
  }
  div#rt{
    background-position: right top;
  }
  div#lc{
    background-position: left center;
  }
  div#cc{
    background-position: center center;
  }
  div#rc{
    background-position: right center;
  }
  div#lb{
    background-position: left bottom;
  }
  div#cb{
    background-position: bottom center;
  }
  div#rb{
    background-position: right bottom;
  }