@charset "UTF-8";
body {
  background-color: rgb(135, 135, 252);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: lightskyblue;
  color: Blue;
  padding: 10px;
  margin: 10px;
  border-radius: 0px 20px;
}
nav {
  background-color: blue;
  padding: 3px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.589);
  
}
nav>a{
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-right: 30px;
}
nav>a:hover{
  text-decoration: underline;
  color: aqua;
}
main {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
}
section#novidades > h2 {
  background-color: lightgray;
  color: blue;
  padding: 10px;
  border-radius: 5px;
}
section#newforms > h2{
  background-color: lightgray;
  color: blue;
  padding: 10px;
  border-radius: 0.3em;
}
footer {
  background-color: blue; 
  font-size: smaller;
  font-weight: thin;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.712);
}
footer>p{
  color: white;
  text-align: center;
  padding: 1px;
  margin: 0px;
}
h1#razaosoc{
  color: rgb(39, 26, 161);
  font-size: xx-larger;
}
h4#slogan{
  color: rgb(82, 84, 197);
}
img{
  font-;
}
div#bola{
  height: 100px;
  width: 100px;
  margin: 5px;
  border-radius: 50%;
  background-color: aliceblue;
}
