@charset "UTF-8";
*{
  margin: 0px;
  padding: 0px;
}
html, body{
  height: 100vh;
  background-color: darkgray;
  margin-top: 20px;
}
header{
  background-color: black;
  color: white;
  text-align: center;
}
header>h1{
  padding-top: 50px;
  font-variant: small-caps;
}
header>p{
  padding-bottom: 50px;
}
header a, footer a{
  color: white;
  text-decoration: none;
  font-weight:bolder; 
}
header a:hover, footer a:hover{
  text-decoration: underline;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
section.normal{
  background-color: white;
  color
}
section.imagem{
  background-color: -ms-grid-layer: ;
}